body
{
    background-color: #0e0e0e;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.container
{
    max-width:1100px;
    background-color: #2ebf79;
    margin-left: auto;
    margin-right: auto;
}
.header
{
    max-width: 1100px;
    min-height: 350px;
    background-image: url(img/blue.jpg);
    background-color: yellow;
    border-top: 5px solid #2ebf79;
    font-family: 'Pacifico', cursive;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.notify
{
    font-size: 25px;
    margin-left: 200px;
    margin-bottom: 20px;
    color:white;
}
span
{
    color: #2ebf79;
}
.showcase
{
    max-width: 320px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 200px;
    margin-bottom: 10px;
    color: black;
}
.circles
{
    max-width: 150px;
    margin-left: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.circlebest
{
    width: 36px;
    height: 34px;
    background-color: #1dae68;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    color: white;
}
.circlebest:hover
{
    background-color:#2ebf79;
}
.content
{
    max-width: 1100px;
    min-height: 220px;
    background-color: #f7f7f7;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}
.box
{
    max-width: 255px;
    min-height: 170px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #303030;
}
.theme
{
    width: 80px;
    height: 65px;
    background-color: #2ebf79;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    padding-top: 15px;
    border-radius: 50%;
    color: white;
}
.theme:hover
{
    cursor: pointer;
    color: white;
    background-color:#1dae68;
}
.contact-form
{
    max-width:1100px;
    min-height: 290px;
    background-color: #dddddd; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}
.contact
{
    width: 390px;
    min-height: 200px;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    color: #202020;
    margin-top: 30px;
}
.email
{
    width: 190px;
    height: 32px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    padding-left: 15px;
    outline: none;
    border: none;
}
.submit
{
    width: 126px;
    height: 34px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: #2ebf79;
    color: white;
    border: none;
    letter-spacing: 1px;
    outline: none;
}
.submit:hover
{
    cursor: pointer;
    background-color: #1dae68;
}
.media video
{
    max-width: 370px;
    max-height: 200px;
    outline: none;
    border-radius: 10px;
}
.social
{
    max-width:1100px;
    min-height: 340px;
    background-color:#f7f7f7;
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    color: #555555;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social-title {
    color: #0e0e0e;
    font-size: 13px;
    font-weight: 700;
}
.social-pics
{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex; 
    flex-wrap: wrap;
}
.social-image
{
    width: 36px;
    height: 40px;
    object-fit: cover;
    margin-right: 1px;
    border: none;
}
.social-image:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.social-description
{
font-size: 20px;
color: black;
}
.social-logos
{
    width: 265px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; 
}
.social-logo
{
    width: 36px;
    height: 25px;
    margin-left: 8px;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    background-color: #cdcdcd;
    color: white;
}
.social-logo:hover
{
    background-color:#2ebf79;
}
.footer
{
    max-width: 1100px;
    min-height: 55px;
    background-color: #cdcdcd;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links
{
    max-width: 580px;
    min-height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-link
{
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none; 
}

.footer-links a:link
{
    color:black;
}
.footer-links a:visited
{
    color:black;
}
.footer-links a:hover
{
    font-weight: bold;
}
.footer-links a:active
{
    color:black;
}



@media (min-width:320px) and (max-width:425px)
{
    .header
    {
        background-image: url(img/mountain.jpg) ;
        max-width: 1100px;
        min-height: 150px;
        justify-content: flex-start;
    }
    .notify
    {
        margin-left: 20px;
        font-size: 15px;
    }
    span
    {
        color: red;
    }
    .showcase
    {
        margin-left: 20px;
        color: red;
        font-size: 12px;
    }
    .circles
    {
        margin-left: 20px;
        margin-top: 5px;
    }
    .circlebest
    {
        background-color: darkgreen;
        color: white;
    }
    .content
    {
        background-color: darkgrey;
    }
    .theme
    {
        color: #ffff00;
        background-color: darkgreen;
    }
    .contact-form
    {
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .contact
    {
       padding-left: 20px;
       padding-right: 20px;
       max-height: 200px;
       text-align: justify;
       margin-top: 0;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center
    }
    .email
    {
        width: 150px;
    }
    .submit
    {
        background-color: darkgreen;
        width: 100px;
    }
    .media video
    {
        max-width: 320px;
    }
    .social
    {
        background-color: #cccccc;
        padding-left: 10px;
    }
    .social-title
    {
        color: darkblue;
    }
    .social-description
    {
        color: darkblue;
    }
    .social-logo
    {
        background-color: darkgreen;
        margin-left: 4px;
        margin-right: 4px;
    }
    .lorem
    {
        color: darkgreen;
        padding-right: 10px;
    }
}
   
@media (min-width:426px) and (max-width:767px)
{
    .header
    {
        background-image: url(img/sunset.jpg);
    }
    .notify
    {
        color: red;
        margin-left: 70px;
    }
    .showcase
    {
        color: white;
        margin-left: 70px;
    }
    .circles
    {
        margin-left: 70px;
        margin-top: 30px;
    }
    .circlebest
    {
        color: yellow;
        background-color: green;
    }
    .content
    {
        flex-direction: column;
        background-color: #909090;
    }
    .theme
    {
        background-color: blue;
        color: yellow;
    }
    .contact-form
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 430px;
        padding-left: 0;
        padding-right: 0;
    }
    .contact
    {
        max-width: 390px;
        max-height: 200px;
        margin-top: 0;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center
    }
    .submit
    {
        background-color: blue;
        color: white;
    }
    .social
    {
        background-color:#909090;
    }
    .lorem
    {
        text-align: center;
    }
    .lorem br
    {
        display: none;
    }
    .social
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .social-title
    {
        color: red;
    }
    .social-description
    {
        color: red;
    }
    .social-logo
    {
        background-color:green;
        color: yellow;
    }
    .footer-links
    {
     line-height: 120%;
    }
}

@media (min-width:768px) and (max-width:1024px)
{
    .notify
    {   
        margin-left: 100px;
    }
    span
    {
        color: white;
    }
    .showcase
    {
        margin-left: 100px;
    }
    .circles
    {
        margin-left: 100px;
    }
    .circlebest
    {
        background-color: yellow;
        color: rgb(47, 47, 180);
    }
    .content
    {
        background-color: #cccccc;
        padding-left: 0px;
        padding-right: 0px;
    }
    .box
    {
        color: black;
    }
    .theme
    {
        background-color: rgb(47, 47, 180);
        color: white;
    }
    .contact-form
    {
        background-color: #aaaaaa;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 430px;
    }
    .contact
    {
        max-height: 200px;
        margin-top: 0;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .submit
    {
        color: yellow;
        background-color: rgb(47, 47, 180);
    }
    .media
    {
        margin-top: 0;
    }
    .social
    {
        background-color: #cccccc;
    }
    .social-description
    {
        color: rgb(47, 47, 180);
    }
    .social-logo
    {
        background-color: rgb(47, 47, 180);
    }
    .footer
    {
        background-color: #aaaaaa;
    }
}

   
